body{
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#main-body
{
    margin-top: 50px;
    margin-bottom: 50px;
}
h1{
    text-align: center;
}
p{
    margin-top: 1px;
    margin-bottom: 1px;
}